<!DOCTYPE html>
<html>
  <head>
    <title>Martin Kevin Gapie</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

     <%= javascript_pack_tag 'portfolio-bundle' %>
     <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'hello-world-bundle' %>

    <style>
      @font-face{
        font-family: Gumela;
        src: url('/*');
      }
      *{
        font-family: 'Gumela';
        font-weight: normal;
        font-size:20px;
      }
      body{
        margin: 0;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
